  <div id='view2'>
  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
            <img id="logo" src="/view2/css/upctlogo.jpg" class="img-responsive margin" alt="Image">
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#!/view1">REGISTER</a></li>
          <li><a href="#introduction">INTRODUCTION</a></li>
          <li><a href="#summary">SUMMARY</a></li>
          <li><a href="#teachers">TEACHERS</a></li>
          <li><a href="#subject">SUBJECT</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- First Container - Introduction -->
  <div id='introduction'class="container-fluid bg-1 text-center">
    <h3>This is official webpage for the subject Software Engineering Laboratories. Everything you need to know about this subject is right here.</h3>
  </div>
  
  <!-- Second Container - Summary-->
  <div id='summary' class="container-fluid bg-2 text-center">
    <h3 class="margin">Subject summary</h3>
    <p id='p'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    <p id='p'><a class="btn btn-primary" data-toggle="collapse" data-target="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">More details</a></p>
    <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              <p id='p'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <!-- Third Container (Grid) - Teachers -->
  <div id='teachers' class="container-fluid bg-3 text-center">    
    <h3 class="margin">Teachers</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <img src="/view2/css/person.jpg" class="img-responsive margin" style="width:100%" alt="Image" data-toggle="modal" data-target="#myModal1">
      </div>
      <div class="col-sm-4"> 
        <img src="/view2/css/person.jpg" class="img-responsive margin" style="width:100%" alt="Image" data-toggle="modal" data-target="#myModal2">
      </div>
      <div class="col-sm-4"> 
        <img src="/view2/css/person.jpg" class="img-responsive margin" style="width:100%" alt="Image" data-toggle="modal" data-target="#myModal3">
      </div>
    </div>
      <!-- Modal1 -->
  <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal1 content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">About teacher1</h4>
          </div>
          <div class="modal-body">
            <p id='p'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>

          <!-- Modal2 -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal2 content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal2">&times;</button>
          <h4 class="modal-title">About teacher2</h4>
        </div>
        <div class="modal-body">
          <p id='p'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

        <!-- Modal3 -->
        <div class="modal fade" id="myModal3" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal3 content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">About teacher3</h4>
              </div>
              <div class="modal-body">
                <p id='p'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>

  <!-- Forth Container - Subject-->
  <div id='subject' class="container-fluid bg-2 text-center">
    <h3 class="margin">Subject context</h3>
    <ul>
      <li>
        <p id="p">Theme1</p>
        <p id='p'><a class="btn btn-primary" data-toggle="collapse" data-target="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">More details</a></p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body">
                <p id='p'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <p id="p">Theme2</p>
        <p id='p'><a class="btn btn-primary" data-toggle="collapse" data-target="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">More details</a></p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
              <div class="card card-body">
                <p id='p'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <p id="p">Theme3</p>
        <p id='p'><a class="btn btn-primary" data-toggle="collapse" data-target="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">More details</a></p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample4">
              <div class="card card-body">
                <p id='p'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </li>    
    </ul>  
  </div>  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
      
    <p id='p'>Ana Bozic, Karlo Volf, Ismael Diop, Christos Tzavaras</p> 
  </footer>
</div>
  