/* app css stylesheet */
body{
  width:100%;
  height: 100vh;
}
.menu {
  height: 5%;
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

#view1{
  width:100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #474e5d; 
  font: 15px Montserrat, sans-serif;
  font-weight: lighter;
  line-height: 1.8;
  color: white;
}

#title{
  font-size: 40px;
}

#main-container{
  width:100%;
  height: 100%;
}

#view2{
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

#p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-image: url("/view2/css/software.jpg");
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; 
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff;
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; 
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0 !important;
    font-size: 14px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

#logo{
  height: 60px;
  width: 120px;
  margin-top: -0px;
}

li{
display: inline-table;
}