<div id="view1">
  <div class="container">
    <div id="title" >REGISTER</div>
    <form name='regform' class="form-horizontal" action="/view1/register.php" method="POST">
      <div class="form-group">
        <label class="control-label col-sm-2" for="nombres">Name and surname:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nombres" placeholder="Enter your name and surname">
        </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="numero">Size of the group:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="numero" placeholder="Enter the number of students in your group">
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="descripcion">Comment:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="descripcion" placeholder="Enter your comment">
            </div>
          </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="password">Password:</label>
        <div class="col-sm-10">          
          <input type="password" class="form-control" name="password" placeholder="Enter password">
        </div>
      </div>
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" ng-click="formsubmit(regform.$valid)"  ng-disabled="regform.$invalid">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>


